<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="pbrt" >

  <!-- common stuff -->
  <xacro:include filename="$(find pd_benchmarking)/urdf/common.xacro" />
  <xacro:include filename="$(find pd_benchmarking)/urdf/materials.urdf.xacro" />

  <!-- schunk lwa4p_extended -->
  <xacro:include filename="$(find pd_benchmarking)/urdf/prbt/prbt_macro.xacro" />
  <xacro:arg name="robot_prefix" default="prbt_"/>


  <!-- instantiate the robot -->
  <xacro:prbt prefix="$(arg robot_prefix)" />

  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="$(arg robot_prefix)base_link"/>
  </joint>

</robot>
