<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="p_rob" >

  <!-- common stuff -->
  <xacro:include filename="$(find pd_benchmarking)/urdf/common.xacro" />
  <xacro:include filename="$(find pd_benchmarking)/urdf/materials.urdf.xacro" />

  <!-- schunk lwa4p_extended -->
  <xacro:include filename="$(find pd_benchmarking)/urdf/p_rob/p_rob.urdf.xacro" />
  <xacro:arg name="robot_prefix" default="arm_"/>


  <!-- instantiate the robot -->
  <xacro:p_rob_arm prefix="$(arg robot_prefix)" joint_limited="true"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "arm_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

 <!-- ros_control plugin -->
    <gazebo>
      <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
        <robotNamespace>"p_rob"</robotNamespace>
        <filterJointsParam>joint_names</filterJointsParam>
      </plugin>
    </gazebo>
</robot>
