<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="baker" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <!-- baker_arm -->
  <xacro:include filename="$(find cob_description)/urdf/baker_arm/baker_arm.urdf.xacro" />

  <!-- baker_gripper -->
   <!--xacro:include filename="$(find cob_description)/urdf/baker_gripper/baker_gripper.urdf.xacro" /-->
  <xacro:include filename="$(find cob_description)/urdf/baker_gripper/baker_two_fingure_gripper.urdf.xacro" />


  <!-- Used for fixing robot to Gazebo -->
  <link name="world"/>

  <xacro:baker name="arm" parent="world"/>

  <!--xacro:baker_arm_gripper name="gripper" parent="world"/-->
  <xacro:baker_gripper prefix="" parent="arm_gripper">
    <origin xyz="0.0 0 0.0" rpy="0 0 -1.57"/>
  </xacro:baker_gripper>

</robot>
