<?xml version="1.0"?>
<launch>

        <arg name="env-script" default="$(find cob_bringup)/env_akit.sh"/>

        <include file="$(find cob_bringup)/robots/e1_gripper.xml">
                <arg name="pc1" value="e1_gripper-pc1"/>
                <arg name="pc2" value="e1_gripper-pc2"/>
		<arg name="ur_ip" value="192.168.141.40"/>
		<arg name="env-script" value="$(arg env-script)"/>
	</include>


</launch>
